*{
    margin:0;
    padding: 0;
}

body{
    height: 100%;
}

.main{
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: auto;
}

.header{
    background-color: brown;
    height: 50px;
    width: 100%;
    position:fixed;
}

.center{
    flex: 1;
    width: 1000px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.side{
    height: 300px;
    width: 200px;
    background-color: beige;
    right:0;
    position: fixed;
}

.article{
    flex:1;
}

.box{
    height:300px;
    width:500px;
    background-color: yellow;
}