<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        [v-cloak]{
            display: none;
        }

        ul{
            list-style: none;
        }
    </style>
</head>
<body>
    <form id="main" v-cloak>
        <nav>
            <a v-on:click="layout = 'grid'">Grid</a>
            <a v-on:click="layout = 'list'">List</a>
        </nav>
        <ul v-if="layout == 'grid'">
            <li>grid</li>
        </ul>
        <ul v-if="layout == 'list'">
            <li>list</li>
        </ul>
    </form>
    
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
    <script>
       var demo = new Vue({
           el:'#main',
           data:{
               layout:'',
           }
       })
    </script>
</body>
</html>