<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{ message }}
    </div>
    <div id="app2">
        <span v-bind:title='message'>
            鼠标悬停即可查看！
        </span>
    </div>
    <div id = 'app3'>
        <p v-if='seen'>现在你看到我了</p>
    </div>

    <div id='app4'>
        <ol>
            <li v-for='todo in todos'>
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id='app5'>
        <p>{{ message }}</p>
        <button v-on:click='reverseMessage'>逆转消息</button>
    </div>

    <div id="app6">
        <p>{{ message }}</p>
        <input v-model='message'>
    </div>

    <div id="app7">
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo='item'
                v-bind:key='item.id'
            ></todo-item>
        </ol>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
    <script>
        Vue.component('todo-item',{
            props:['todo'],
            template: '<li>{{ todo.text }}</li>'
        })

        var app7 = new Vue({
            el:'#app7',
            data:{
                groceryList:[
                    { id:0, text:'蔬菜' },
                    { id:1, text:'牛奶' },
                    { id:2, text:'肉类' },
                ]
            }
        })

        var app6 = new Vue({
            el:'#app6',
            data:{
                message:'Hello,Vue!'
            }
        })

        var app = new Vue({
            el:'#app',
            data: {
                message:'Hello,Vue!'
            }
        })

        var app2 = new Vue({
            el: '#app2',
            data: {
                message:'页面加载于' + new Date().toLocaleString()
            }
        })

        var app3 = new Vue({
            el:'#app3',
            data:{
                seen:true
            }
        })

        var app4 = new Vue({
            el: '#app4',
            data:{
                todos:[
                { text: '学习JavaSript'},
                { text: '学习Vue'},
                { text: '学习整个项目'}
                ]
            }
        })

        var app5 = new Vue({
            el: '#app5',
            data:{
                message:'Hello Vue.js'
            },
            methods:{
                reverseMessage:function(){
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
    </script>
</body>
</html>